/* src/pages/CadastroEquipamento.css */

.site-layout-content {
  padding: 24px;
  background: #f0f2f5; 
  min-height: calc(100vh - 64px); 
  display: flex;
  justify-content: center;
}

.page-card {
  width: 100%;
  max-width: 1200px; 
  border-radius: 8px;
}


.ant-select {
  width: 100%;
}
